streamlit
plotly
streamlit-autorefresh
pandas
pyyaml
rich
pyfiglet
pandas
boto3
PyQt6
PyQt6-Charts
krakenex
websocket-client
requests
python-dateutil
pyyaml
rich
pyfiglet
boto3
pandas
websockets
aiohttp
PyQt6
qasync